.admin_container {
  display: flex;
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .topbar {
    margin-top: 0px;
  }

  .productList,
  .user {
    height: 500px;
  }

  .topbar .logo {
    font-size: 20px;
  }

  .admin_container {
    display: block;
  }

  .sidebar {
    position: static;
    height: 200px;
  }

  .flight_form {
    width: 95% !important;
  }
}

@media screen and (min-width: 600px) {
  .flight_form {
    width: 80% !important;
  }

  .sidebarList a {
    font-size: 1rem;
  }

  .sidebarWrapper {
    padding-right: 0px;
    width: 200px;
  }
}
