.header_parent {
  margin-top: 155px;
  position: relative;
  height: 500px;
  width: 100%;
  background: #c04848; /* fallback for old browsers */
  background: linear-gradient(rgb(0 2 81 / 59%), rgb(29 19 19 / 80%)),
    url("../../Assets/img/1.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  object-fit: contain;
}

.overlay_txt {
  position: absolute;
  top: 25%;
  right: 5%;
}

.overlay_txt h1 {
  color: #ffc00d;
  font-family: "Titillium web", cursive;
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 90px;
}

.header_num {
  font-family: "Alfa Slab One", cursive;
  font-size: 65px;
}

.overlay_txt button {
  width: 200px;
  border: 2px solid white;
  background-color: #ff0000;
  color: white;
  font-family: "Titillium web", cursive;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 3px;
  font-size: 18px;
}

.first_nav {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(0,768,367)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header_parent {
    padding: 15px 0px;
    height: 300px;
    margin-top: 76px;
  }

  .overlay_txt {
    position: static;
    text-align: center;
    margin-top: 20px;
    padding: 0px 10px;
  }

  .overlay_txt h1 {
    color: white;
    font-family: "Titillium web", cursive;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    line-height: 60px;
  }

  .overlay_txt span {
    font-size: 60px;
  }

  .overlay_txt button {
    width: 200px;
    border: 2px solid white;
    background-color: #ff0000;
    color: white;
    font-family: "Titillium web", cursive;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 3px;
    font-size: 18px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header_parent {
    margin-top: 100px;
  }

  .overlay_txt {
    position: absolute;
    top: 25%;
    right: 0;
    padding: 0px 10px;
    width: 55%;
  }

  .overlay_txt h1 {
    color: white;
    font-family: "Titillium web", cursive;
    font-size: 38px;
    letter-spacing: 2px;
    text-align: left;
    line-height: 50px;
    padding-right: 17px;
  }

  .overlay_txt button {
    width: 200px;
    border: 2px solid white;
    background-color: #ff0000;
    color: white;
    font-family: "Titillium web", cursive;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 3px;
    font-size: 18px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .overlay_txt h1 {
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    line-height: 60px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .overlay_txt h1 {
    font-size: 35px;
    letter-spacing: 4px;
    line-height: 70px;
  }

  .overlay_txt span {
    font-size: 65px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header_parent {
    margin-top: 155px;
  }
  .overlay_txt h1 {
    color: #ffc00d;
    font-family: "Titillium web", cursive;
    font-size: 35px;
    letter-spacing: 4px;
    text-align: center;
    line-height: 85px;
  }

  .header_num {
    font-size: 77px;
    color: #fbff00;
  }
}

@media (min-width: 1920px) and (max-width: 2560px) {
  .overlay_txt {
    position: absolute;
    top: 15%;
    right: 0;
    padding: 0px 20px;
    width: 48%;
  }

  .overlay_txt h1 {
    color: white;
    font-family: "Alfa Slab One", cursive;
    font-size: 30px;
    letter-spacing: 4px;
    text-align: left;
    line-height: 95px;
    padding-right: 80px;
  }

  .header_num {
    font-size: 77px;
  }
}
